body {
    /* background-image: linear-gradient(to right,  whitesmoke, whitesmoke, whitesmoke , whitesmoke , whitesmoke , whitesmoke , whitesmoke, whitesmoke, whitesmoke, whitesmoke, whitesmoke , rgb(196, 196, 253),rgb(146, 146, 252) );
     */
    background-color: whitesmoke;
}

/* Home */
.titulo {
    text-align: center;
    color: aliceblue;
}

.imagem01 {

    padding-top: 10px;
    display: block;
    margin: auto;
    width: 1200px;

}
/* Navbar fixo com efeito de vidro */
/* Navbar fixo com efeito de transição */
.menu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    height: 11vh;
    align-items: center;
    justify-content: space-between; /* Logo à esquerda, menu hamburguer à direita */
    background-color: rgb(14, 18, 96); /* Cor sólida inicialmente */
    font-size: 17px;
    text-align: center;
    display: flex;
    padding: 0 2rem; /* Ajusta o espaçamento */
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Sombra sutil */
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

/* Quando rolar para baixo, o fundo do navbar se torna transparente */
.menu.transparent {
    background-color: rgba(14, 18, 96, 0.5); /* Transparente quando rola */
    backdrop-filter: blur(10px); /* Efeito de vidro */
}

/* Logo */
.imglogo {
    width: 80px; /* Ajusta a logo para não ultrapassar a barra */
    object-fit: contain;
}

/* Links do menu */
.menu a {
    font-size: 18px;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    color: whitesmoke;
    letter-spacing: 0.5px;
}

/* Efeito hover nos links */
.menu a:after {
    content: "";
    position: absolute;
    background-color: rgb(232, 60, 117);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    transition: 0.4s ease;
}

.menu a:hover:after {
    width: 100%;
    transition: 0.4s ease;
}

/* Menu hamburguer e ajuste no layout */
.navbar-toggler {
    border: none;
}

.navbar-toggler-icon {
    background-color: #fff; /* Cor dos três tracinhos */
}

.navbar-nav {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Links alinhados à direita */
}

.navbar-nav .nav-link {
    margin-left: 1rem; /* Espaçamento entre os links */
    color: white; /* Cor dos links */
    text-decoration: none; /* Remover sublinhado */
    font-weight: bold; /* Estilo dos links */
}

.navbar-nav .nav-link:hover {
    color: #f8f9fa; /* Cor ao passar o mouse */
}

/* Ajuste no layout para mobile */
@media (max-width: 768px) {
    .menu {
        height: 8vh; /* Menor altura para mobile */
        padding: 0.5rem; /* Ajustar o padding */
    }

    .imglogo {
        width: 80px; /* Tamanho da logo menor no mobile */
    }

    .navbar-nav {
        flex-direction: column; /* Menu em coluna no mobile */
        align-items: flex-start;
    }

    .navbar-nav .nav-link {
        margin: 0.5rem 0; /* Ajuste de espaçamento entre links */
    }

    .menu a {
        font-size: 16px; /* Ajuste de fonte para mobile */
    }

    /* Menu lateral no mobile */
    .navbar-collapse {
        background-color: white; /* Fundo branco */
        padding: 1rem;
        width: 200px; /* Largura do menu lateral */
        position: absolute;
        right: 0;
        top: 0;
        z-index: 1001; /* Garantir que o menu fique por cima de outros elementos */
        box-shadow: -2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra no menu */
    }

    .navbar-collapse .nav-link {
        color: black; /* Cor dos links no menu lateral */
    }

    .navbar-collapse .nav-link:hover {
        color: #e83e75; /* Cor ao passar o mouse no menu lateral */
    }
}

/* Disposição dos links no desktop (garante que fiquem na mesma linha) */
@media (min-width: 769px) {
    .navbar-nav {
        flex-direction: row; /* Alinha os links na horizontal */
    }

    .navbar-nav .nav-link {
        margin-left: 2rem; /* Espaçamento entre os links no desktop */
    }
}


.redimensionar-imagem {
    display: block;
    width: 1500px;
    margin: auto;

}

.imgCapas {
    display: block;
    width: 100%;
    position: relative;
    transition: 0.5s ease;
}

.imgCapas:hover {
    width: 103%;
    transition: 0.5s ease;

}
.videoContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    background-color: black; /* Garante o fundo preto */
  }
  
  .videoContainer video {
    width: 100%;
    height: auto;
    max-width: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  
  @media (min-width: 768px) {
    .videoContainer video {
      max-width: 60%;
    }
  }
  
  @media (min-width: 1200px) {
    .videoContainer video {
      max-width: 50%;
    }
  }
  

.QuemSomosHome {
    background-color: white;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 0;
    margin: 0 auto;
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1rem;
    border-radius: 2%;
    transition: .2s ease-in-out;
}

/* @media only screen and (max-width: 450px) {
    .QuemSomosHome {

    }

} */

.doarHome {
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 3%;
    padding-bottom: 2rem;
}

.tituloPixHome {
    font-size: 26px;
    padding-top: 3rem;
    text-align: center;
}

.textoDoarHome {
    font-size: 20px;
    text-align: center;
}

.divMeio {
    padding-top: 5rem;
    padding-bottom: 3rem;
}

.imgPraia {
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: auto;
    display: block;
    width: 70%;
    border-radius: 4%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}

/* Quem somos */

.tituloQuemSomos {
    position: absolute;
    left: 100px;
    bottom: 600px;
    margin: 0;
}

.carrossel w-100 {
    padding: 50px;
    width: 100%;
    display: block;
    margin: auto;
}



.paragrafoQuemSomos {
    background-color: white;
    font-size: 20px;
    text-align: justify;
    margin-top: 1rem;
    margin-bottom: 0;
    margin: 0 auto;
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.5%;
}

.paragrafoQuemSomos02 {
    width: 90%;
    margin: auto;
}

.paragrafoQuemSomos03{
    width: 90%;
    margin: auto;
    text-align: center;
}

/* @media only screen and (min-width: 768px) {
    .paragrafoQuemSomos02 {
        width: 90%;
        margin: auto;
        text-align: center;
    }
} */

.imgQuemSomosP {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 100%;
}

.tituloParagrafo {
    padding-top: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;

}

.tituloParagrafo01 {
    padding-top: 1rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;

}


.footer-middle {
    background-color: rgb(14, 18, 96);
    padding-top: 3rem;
    color: white;


}

.footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.linkh4 {
    color: rgb(192, 190, 190);
    text-decoration: none;
}

.linkh4:hover {
    color: rgb(232, 60, 117);
    text-decoration: underline;
}

.kevin {
    text-decoration: none;
    color: rgb(232, 60, 117);
}

.kevin:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 450px) {

    /* Ajuste do parágrafo para a seção Quem Somos */
    .paragrafoQuemSomos {
        background-color: white;
        font-size: 18px;
        /* ajuste para ficar mais confortável */
        text-align: justify;
        margin-top: 20px;
        /* menos margem no topo para otimizar espaço */
        width: 95%;
        /* reduzindo um pouco mais para melhor encaixe */
        padding: 10px;
        /* menor padding para mais conteúdo visível */
    }

    /* Outros elementos de parágrafo */
    .paragrafoCursos,
    .paragrafoDoeAqui,
    .paragrafoProjetos {
        font-size: 16px;
        line-height: 1.5;
        /* para facilitar a leitura */
        padding: 10px;
        margin: 10px auto;
        /* centralizado e com menos margem */
        width: 90%;
        text-align: justify;
    }

    /* Exemplo de ajuste para títulos */
    h1,
    h2,
    h3 {
        font-size: 1.5em;
        margin-top: 15px;
        margin-bottom: 10px;
        text-align: center;
    }

    /* Ajuste para botões */
    .botaoPrincipal {
        font-size: 14px;
        padding: 8px 12px;
        margin: 10px auto;
        width: 80%;
    }

    @media only screen and (max-width: 450px) {

        /* Ajuste para o título h3 */
        .tituloh3 {
            font-size: 1.2em;
            /* tamanho menor para dispositivos móveis */
            text-align: center;
            margin-top: 15px;
            padding: 0 20px;
            /* maior espaço nas laterais */
            width: 90%;
            /* largura menor para evitar bordas */
            margin-left: auto;
            margin-right: auto;
        }

        /* Ajuste para o subtítulo h4 */
        .subtitulo {
            font-size: 1em;
            /* tamanho ajustado para leitura confortável */
            text-align: center;
            margin-bottom: 2rem;
            padding: 0 20px;
            /* maior espaço nas laterais */
            width: 90%;
            /* largura menor para evitar bordas */
            margin-left: auto;
            margin-right: auto;
        }
    }

    .doarHome {
        padding: 20px;
    }

    .tituloPixHome {
        font-size: 17px;
        margin-top: 30px;
        margin-bottom: 20px;
        text-align: center;
    }

    .textoDoarHome {
        font-size: 17px;
        text-align: justify;
        width: 95%;
        padding-left: 15px;
        padding-right: 15px;
        margin-bottom: 25px;
    }

    .botaoPix {
        font-size: 17px;
        padding: 12px 15px;
        display: block;
        margin: 0 auto 25px auto;
        text-align: center;
    }



}


/* Doe aqui */

.divMae {
    display: block;
}

.justificar {
    text-align: justify;
    padding-right: 3rem;
}

.tituloh3 {
    text-align: center;
    padding-top: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 30px;
}

.tituloh3-1 {
    text-align: center;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 30px;
}

.subtitulo {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;

}

.vemFazerParte {
    background-color: white;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 2%;
}

.vemFazerParte02 {
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    border-radius: 2%;
}

.tituloPix {
    font-size: 26px;
    padding-top: 3rem;
    padding-left: 4.5rem;
}

.textoDoar {
    font-size: 20px;
    padding-left: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.tituloPix02 {
    font-size: 20px;
    padding-left: 6rem;
    font-weight: bold;

}

.botaoPix {

    margin-top: 0.5rem;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 0.4rem 2rem;
    background: rgb(14, 18, 96);
    cursor: pointer;
    border-radius: 1rem;
    border-radius: 2.5rem;
    color: white;
    transition: .2s ease-in-out;
    border: 2px solid rgb(14, 18, 96);
}

.botaoPix:hover {
    background-color: white;
    color: black;
}

.botaoPix02 {

    color: white;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 6rem;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 0.4rem 2rem;
    background: rgb(14, 18, 96);
    cursor: pointer;
    border-radius: 1rem;
    border-radius: 2.5rem;
    color: white;
    transition: .2s ease-in-out;
    border: 2px solid rgb(14, 18, 96);
}

.botaoPi02:hover {
    background-color: white;
    color: black;
}

.textoDoar02 {
    padding-left: 6rem;
    padding-right: 8rem;
    font-size: 20px;
    text-align: justify;

}

.teste {
    background-color: #fbfbfb;
    ;
}

.sejaUmVoluntarioBox {
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}



.sejaUmVoluntarioBox01 {
    background-image: url(img/dentista-editado.png);
    display: inline-block;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox01:hover {
    opacity: 0.8;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox02 {
    background-image: url(img/capoeira-editada.png);
    display: inline-block;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox02:hover {
    opacity: 0.8;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox03 {
    background-image: url(img/projetos-telinha.png);
    display: inline-block;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox03:hover {
    opacity: 0.8;
    transition: .3s ease-in-out;
}


.veja {
    text-align: center;

}

.imgSejaVBox {
    width: 100%;
}

.divCatastrofe {
    background-color: white;
    width: 100%;
    padding-top: 1rem;
}

.imgcat {
    width: 25%;
    margin: auto 0;
    border-radius: 15%;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}

/* Colaboradores */.colaboradores {
    background-color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; /* Garante o alinhamento vertical centralizado */
}

.logosColaboradores {
    padding: 0px 25px 25px 0;
    display: flex;
    justify-content: center;
    align-items: center; /* Alinha as logos no eixo Y */
}

/* Para telas médias e grandes (PC) */
.col-md-3 {
    width: 25%; /* 4 logos por linha */
}

/* Para telas pequenas, 3 logos por linha */
@media (max-width: 768px) {
    .col-sm-4 {
        width: 33.33%; /* 3 logos por linha */
    }
}

.col-md-3 img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: contain;  /* Garantir que a imagem se ajuste dentro do espaço sem distorção */
}

@media (max-width: 576px) {
    .logosColaboradores {
        padding: 0px 10px 15px 10px; /* Menos espaçamento nas telas menores */
    }
}



/* cursos */

.curso01 {
    font-size: 26px;

    margin-top: 1rem;
    text-align: center;
}

.container {
    display: flex;
    align-items: center;
}

.paragrafoCursos {
    font-size: 23px;
    text-align: center;
    margin-right: 50px;
}

.alinharEsquerda {
    padding-left: 5rem;

}

/* botaozap */

.whatsapp {
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 9999;

}

.whatsapp img {
    width: 85px;
    transition: 0.4s ease;
}

.whatsapp img:hover {
    width: 95px;
    transition: 0.4s ease;
}


.imgcat2 {

    width: 70%;
    /* Define a largura das imagens como 90% */
    height: auto;
    /* Mantém a proporção da imagem */
    margin: 10px 0;
    /* Adiciona uma margem vertical para separar as imagens */
    border-radius: 20px;
    /* Arredonda as bordas das imagens */
}

.row+.row {
    margin-top: 20px;
    /* Define o espaçamento entre as fileiras */
}

/* Estiliza as legendas */
figure {
    margin: 0;
    /* Remove a margem padrão do elemento figure */
    text-align: center;
    /* Centraliza o texto dentro do figure */
}

figcaption {
    margin-top: 10px;
    /* Adiciona um espaçamento entre a imagem e a legenda */
    font-size: 18px;
    /* Define o tamanho da fonte da legenda */
    color: black;
}

.button-container-pranchas {
    display: flex;
    justify-content: center;
}