body {
    /* background-image: linear-gradient(to right,  whitesmoke, whitesmoke, whitesmoke , whitesmoke , whitesmoke , whitesmoke , whitesmoke, whitesmoke, whitesmoke, whitesmoke, whitesmoke , rgb(196, 196, 253),rgb(146, 146, 252) );
     */
    background-color: whitesmoke;
}

/* Home */
.titulo {
    text-align: center;
    color: aliceblue;
}

.imagem01 {

    padding-top: 10px;
    display: block;
    margin: auto;
    width: 1200px;

}

.menu {
    height: 11vh;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(14, 18, 96);
    font-size: 17px;
    text-align: center;
    display: flex;
    margin: auto;

}

.menu a {
    font-size: 18px;
    position: relative;
    text-decoration: none;
    padding: 0 10px;
    color: whitesmoke;
    letter-spacing: 0.5px;


}

.menu a:after {
    content: "";
    position: absolute;
    background-color: rgb(232, 60, 117);
    height: 3px;
    width: 0;
    left: 0;
    bottom: -2px;
    color: whitesmoke;
    transition: 0.4s ease;
}

.menu a:hover:after {
    width: 100%;
    transition: 0.4s ease;
    color: whitesmoke;
}

.imglogo {
    width: 100px;
    margin-left: 10rem;

}

.redimensionar-imagem {
    display: block;
    width: 1500px;
    margin: auto;

}

.imgCapas {
    display: block;
    width: 100%;
    position: relative;
    transition: 0.5s ease;
}

.imgCapas:hover {
    width: 103%;
    transition: 0.5s ease;

}

.QuemSomosHome{
    background-color: white;font-size: 20px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 0;
    margin: 0 auto;
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 1rem;
    border-radius: 2%;
    transition: .2s ease-in-out;
}

.doarHome{
    background-color: white;
    width: 90%;
    margin: auto;
    border-radius: 3%;
    padding-bottom: 2rem;
}

.tituloPixHome {
    font-size: 26px;
    padding-top: 3rem;
    text-align: center;
}

.textoDoarHome {
    font-size: 20px;
    text-align: center;
}

.divMeio{
    padding-top: 5rem;
    padding-bottom: 3rem;
}
.imgPraia{
    padding-top: 2rem;
    padding-bottom: 1rem;
    margin: auto;
    display: block;
    width: 70%;
    border-radius:4%;
    border-top-left-radius: 6%;
    border-top-right-radius: 6%;
}
/* Quem somos */

.tituloQuemSomos {
    position: absolute;
    left: 100px;
    bottom: 600px;
    margin: 0;
}

.carrossel w-100 {
    padding: 50px;
    width: 100%;
    display: block;
    margin: auto;
}



.paragrafoQuemSomos {
    background-color: white;
    font-size: 20px;
    text-align: justify;
    margin-top: 30px;
    margin-bottom: 0;
    margin: 0 auto;
    width: 90%;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 0.5%;
}

.paragrafoQuemSomos02{
    width: 90%;
    margin: auto;
}

.imgQuemSomosP {
    display: block;
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    border-radius: 20px;
    width: 100%;
}

.tituloParagrafo {
    padding-top: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;

}

.tituloParagrafo01 {
    padding-top: 2rem;
    margin-top: 30px;
    margin-bottom: 30px;
    text-align: center;
    font-size: 30px;

}


.footer-middle {
    background-color: rgb(14, 18, 96);
    padding-top: 3rem;
    color: white;


}

.footer-bottom {
    padding-top: 3rem;
    padding-bottom: 2rem;
}

.linkh4 {
    color: rgb(192, 190, 190);
    text-decoration: none;
}

.linkh4:hover {
    color: rgb(232, 60, 117);
    text-decoration: underline;
}

.kevin {
    text-decoration: none;
    color: rgb(232, 60, 117);
}

.kevin:hover {
    text-decoration: underline;
}

@media only screen and (max-width: 450px) {
    .paragrafoQuemSomos {
        background-color: white;
        font-size: 17px;
        text-align: justify;
        margin-top: 30px;
        width: 95%;
        padding-left: 15px;
        padding-right: 15px;
    }

}

/* Doe aqui */

.divMae {
    display: block;
}

.justificar {
    text-align: justify;
    padding-right: 3rem;
}

.tituloh3 {
    text-align: center;
    padding-top: 1rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 30px;
}

.tituloh3-1 {
    text-align: center;
    padding-top: 1rem;
    padding-left: 10rem;
    padding-right: 10rem;
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    font-size: 30px;
}

.subtitulo {
    font-size: 18px;
    text-align: center;
    margin-bottom: 1rem;

}

.vemFazerParte {
    background-color: white;
    margin-left: 2.5rem;
    margin-bottom: 2rem;
    border-radius: 2%;
}
.vemFazerParte02 {
    background-color: white;
    margin-left: 3rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    border-radius: 2%;
}

.tituloPix {
    font-size: 26px;
    padding-top: 3rem;
    padding-left: 4.5rem;
}

.textoDoar {
    font-size: 20px;
    padding-left: 4.5rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}

.tituloPix02 {
    font-size: 20px;
    padding-left: 6rem;
    font-weight: bold;

}

.botaoPix {

    color: white;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 6rem;
    display: inline-block;
    text-align: center;
    font-size: 15px;
    padding: 0.4rem 2rem;
    background: rgb(14, 18, 96);
    cursor: pointer;
    border-radius: 1rem;
    border-radius: 2.5rem;
    color: white;
    transition: .2s ease-in-out;
    border: 2px solid rgb(14, 18, 96);
}

.botaoPix:hover {
    background-color: white;
    color: black;
}
.botaoPix02 {

    color: white;
    margin-top: 0.5rem;
    margin-bottom: 1.5rem;
    margin-left: 6rem;
    display: inline-block;  
    text-align: center;
    font-size: 15px;
    padding: 0.4rem 2rem;
    background: rgb(14, 18, 96);
    cursor: pointer;
    border-radius: 1rem;
    border-radius: 2.5rem;
    color: white;
    transition: .2s ease-in-out;
    border: 2px solid rgb(14, 18, 96);
}

.botaoPi02:hover {
    background-color: white;
    color: black;
}

.textoDoar02 {
    padding-left: 6rem;
    padding-right: 8rem;
    font-size: 20px;
    text-align: justify;

}

.teste {
    background-color: #fbfbfb;
    ;
}

.sejaUmVoluntarioBox {
    display: inline-block;
    background-color: white;
    color: black;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}



.sejaUmVoluntarioBox01 {
    background-image: url(img/dentista-editado.png);
    display: inline-block;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox01:hover {
    opacity: 0.8;
    transition: .3s ease-in-out;
}
.sejaUmVoluntarioBox02 {
    background-image: url(img/capoeira-editada.png);
    display: inline-block;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox02:hover {
    opacity: 0.8;
    transition: .3s ease-in-out;
}
.sejaUmVoluntarioBox03 {
    background-image: url(img/prancha-01.png);
    display: inline-block;
    background-color: white;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding-top: 15rem;
    padding-bottom: 1rem;
    text-align: center;
    margin-left: 3rem;
    margin-bottom: 2rem;
    border-radius: 5%;
    width: 100%;
    transition: .3s ease-in-out;
}

.sejaUmVoluntarioBox03:hover {
    opacity: 0.8;
    transition: .3s ease-in-out;
}


.veja {
    text-align: center;

}

.imgSejaVBox {
    width: 100%;
}

.divCatastrofe {
    background-color: white;
    width: 100%;
    padding-top: 1rem;
}

.imgcat{
    width: 25%;
    margin: auto 0;
    border-radius: 15%;
    padding-top: 3rem;
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 3rem;
}
/* Colaboradores */

.colaboradores{
    background-color: white;
    margin-top: 4rem;
    margin-bottom: 4rem;
    padding-bottom: 3rem;
}

.logosColaboradores{
    width: 300px;
    margin: auto;
}